<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet">
  </head>
  <style>
    h1 {
    color: rgb(44, 4, 4);
    text-decoration-line: overline;
    text-align: center;
    font-size: 40px;
    }
    h2 {
    color: rgb(2, 39, 28);
    text-decoration-line: overline;
    text-align: center;
    font-size: 30px;
    }
    h4 {
    color: rgb(73, 55, 136);
    text-decoration-line: overline;
    text-align: right;
    font-size: 20px;
    }
    .container {
      width: 100%;
      margin: 0 auto; 
      padding: 15px; 
    }
    .edit-container {
      width: 100%;
      margin: 0 auto; 
      padding: 15px;
      font-size: 20px; 
    }
    .col-width-1 { 
      width: 10%; 
    } 
    .col-width-2 { 
      width: 15%; 
    } 
    .col-width-3 { 
      width: 10%; 
    }
    .col-width-4 { 
      width: 35%; 
    } 
    .col-width-5 { 
      width: 30%; 
    }
  </style>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD NODE JS Equipo 3</a>
    </nav>